.writer-card {
  display: flex;
  flex-direction: column;
}

.writer-image-container {
  flex: 1 0 auto;
}

.writer-image {
  height: 100%;
  object-fit: cover;
}

.writer-image-placeholder {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 1px;
}
