html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  color: #51423e;
  font-family: Arial, sans-serif;
}

/* Container with margins */
.container {
  margin-left: 8px;
  margin-right: 8px;
  padding: 0; /* Optional: reset padding if necessary */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

/* Media queries for responsiveness */
@media (min-width: 600px) {
  .container {
    font-size: 16px; /* Font size for larger screens */
  }
}

@media (max-width: 599px) {
  .container {
    font-size: 14px; /* Font size for smaller screens */
  }
}

/* 
#FFF2DF 
#51423E 
#818583 
#64564A  */
