html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  color: #51423e;
  font-family: Arial, sans-serif;
}

.container {
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  box-sizing: border-box;
}

/* Media queries for responsiveness */
@media (min-width: 600px) {
  .container {
    font-size: 16px;
  }
}

@media (max-width: 599px) {
  .container {
    font-size: 14px;
  }
}

/* 
#FFF2DF 
#51423E 
#818583 
#64564A  */
